@import "../fonts/arabic-font.css";
@import "../fonts/fontawesome/css/all.css";
body{
    background-color: #F9F9F9;
}
.content{
    padding: 1rem  1rem 0;
    margin-top: 0.5rem;
}

.navbar-first{
    background-color: #167579;
    margin-bottom: 0;
    border: none;
    border-radius: 0
}
.navbar-first .navbar-nav>li>a{
    color: #d4d7f3;
    font-size: 12pt;
    font-weight: normal;
    padding: 10px;
    text-decoration: none !important;
} 
.navbar-first .navbar-nav>li.active a{
    color:white;
    text-decoration: underline !important;
}
.navbar-first .navbar-nav>li>a:hover{
    color:white;
}
.navbar-light .navbar-brand {
    color: rgb(253 253 253 / 90%) !important;
}
.site-color{
   color: #404D5E;
}
.card{
    padding: 1.5rem;
    box-shadow: 8px 12px 18px 0 rgb(25 42 70 / 13%);
    border: 0 solid #DFE3E7;
    margin-bottom: 2rem;
}
.filter-row .project-search{
    position:relative;
}

.filter-row .project-search::after {
    position: absolute;
    content: '\f002';
    right: 10px;
    top: 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.filter-box {
    display: none;
}

.pagination .page-item.previous {
    margin-left: 0.3571rem;
}
.pagination .page-item.next {
    margin-right: 0.3571rem;
}
.table-icon a {
    margin-right: 5px;
    margin-left: 5px;
}
.table-icon a:hover i {
   background-color: #4974a1 !important;
}
.table-icon a:hover {
    text-decoration: none !important;
}

.filter-box{
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px;
    box-shadow: 0px 8px 20px 5px #00000017 !important;
    clear: both;
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    margin-top:0.5rem;
}
.filter-row input[type=search] {
    text-indent: 20px;
}
.filter-button{
    border: 1px solid #DBE5F3;
    border-radius: 0.267rem;
    padding: 0px 6px;
    background:transparent;
    color:#8494A7;
}
.input-group .btn{
    height: 100%;
}
.filter-button i{
    font-size:20px;
    position: relative;
    top: 3px;
}

.btn.filter-button:hover {
    background-color: white;
    color: #5A8DEE !important;
}


.table-icon a:not(:hover){
    color: #5A8DEE!important;
}



.btn:focus { outline: none !important;
box-shadow: none !important; }
.red-color{
    color:red;
}
.btn-st1{
	color: #fff;
    background-color: #248824;
    border-color: #248824;
}
  
  .btn-st1:hover {
    color: #fff;
    background-color: #1f6e1f;
    border-color: #1f6e1f;
  }
  
  .btn-st1:focus{
    box-shadow: 0 0 0 0.2rem rgba(33, 104, 1, 0.596);
	  color:white;
  }

  .btn-st1.disabled, .btn-st1:disabled {
    color: #fff;
    background-color: #248824;
    border-color: #248824;
  }
  .btn-st1:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 104, 1, 0.596);
  }

 .btn-st1:focus, .btn-st1.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 104, 1, 0.596);
  }
.btn-st1:focus, .btn-st1.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 104, 1, 0.596);
  }
 .btn-st1:focus{
    box-shadow: 0 0 0 0.2rem rgba(33, 104, 1, 0.596);
	  color:white;
  }